.ProseMirror p {
  padding: 0.25rem;
  max-height: 15rem;
  overflow-y: scroll;
}

.bot-response > .ProseMirror > pre {
  background-color: rgb(49, 48, 48);
  padding: 0.25rem;
}

.bot-response > .ProseMirror > p {
  max-height: none;
}